<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HomeDcorChart</title>
</head>
<style>
    #chart-wrapper {
            display: inline-block;
            position: relative;
            width: 400px;
			margin-Top: 5%;
			margin-left: 35%;
            float: left;
    }
</style>
<body>


<div style="text-align: center;">
    <h1>HomeDcor Price Tracking</h1>
</div>
<div id="chart-wrapper">
    <canvas id="myChart" width="400" height="400"></canvas>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script type= 'text/javascript'>
var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'bar',

    // The data for our dataset
    data: {
    labels: ['low_prices', 'middle_prices', 'high_prices'],
    datasets: [{
        label: 'Pricea',
        backgroundColor: 'rgb(255, 99, 132)',
        borderColor: 'rgb(255, 99, 132)',
        data: [{{low_prices }},{{ middle_prices}}, {{ high_prices }}]
    }]
    },

    // Configuration options go here
    options: {
            responsive: true
     }
    });
</script>
</body>
</html>

