<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cart</title>
</head>
<body>

<h1>Shopping Cart</h1>
{% if error_message %}
    <p>{{ error_message }}</p>
	{% else %}
<table>
  <tr>
    <th>Product Name</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Action</th>
  </tr>
  {% for item in cart_list %}
<tr>
  <td>{{ item.name }}</td>
  <td>{{ item.price }}</td>
  <td>{{ item.quantity }}</td>
 <td>
  <a href="{% url 'remove_from_cart' cart_item_id=item.id %}">Remove</a>
  {% csrf_token %}
</td>
</tr>
  {% endfor %}
</table>
{% endif %}

<h4><a href="{% url 'cart' %}">updata total price</a></h4>
<p>Total:{{ total}}</p>
<h4><a href="{% url 'display_HomeDcor' %}">Return</a></h4>
</body>
</html>